---
import { getCollection } from "astro:content";
import { IndexProps, BlogName, PerPage, PostPageProps } from "@/config";
import Layout from "@/layouts/Layout.astro";
import PostList from "@/components/Post/PostList.astro";
import Pagination from "@/components/Pagination.astro";
import PageBanner from "@/components/Banner/PageBanner.astro";

const postlist = await getCollection("blog");
const posts = postlist
  .filter((post) => !post.data.hide)
  .sort((a, b) => b.data.id - a.data.id)
  .slice(0, PerPage);
---

<Layout title={BlogName}>
  <main
    class="sm:mt-24 mt-16 sm:min-h-0 min-h-main mx-0 sm:mx-16 lg:mx-auto max-w-4xl shadow-lg rounded-sm bg-primary"
  >
    <PageBanner
      title={IndexProps.title}
      description={IndexProps.description}
      imgsrc={IndexProps.banner}
      select={0}
    />
    <div class="content px-4 py-4 sm:px-12 sm:py-6 w-full">
      <PostList posts={posts} />
      <Pagination prevUrl={undefined} nextUrl="/post/1" />
    </div>
  </main>
</Layout>
