---
import { cn } from "@/lib/utils";
import "@fancyapps/ui/dist/fancybox/fancybox.css";
interface Props {
  src: string;
  alt?: string;
  width?: string;
  height?: string;
  className?: string;
  withFancyBox: boolean;
}

const { src, alt, withFancyBox, width, height, className } = Astro.props;

const srcSuffix = `${width ? width : "800"}w_${
  height ? height : "400"
}h_1c.webp`;

const placeholder = `https://article.biliimg.com/bfs/article/18d1e2d11b9e00ea443016e3f94beb9af888d339.png@${srcSuffix}`;
---

{
  withFancyBox ? (
    <div class={cn("h-full w-full overflow-hidden", className)}>
      <a
        class="hover:brightness-90 transition-all"
        data-fancybox
        data-caption={alt ? alt : ""}
        href={src}
      >
        <img
          src={placeholder}
          data-src={`${src}@${srcSuffix}`}
          class="lazyload object-cover h-full w-full"
          alt={alt ? alt : ""}
        />
      </a>
    </div>
  ) : (
    <div class={cn("h-full w-full overflow-hidden", className)}>
      <img
        src={placeholder}
        data-src={`${src}@${srcSuffix}`}
        class="lazyload object-cover h-full w-full"
        alt={alt ? alt : ""}
      />
    </div>
  )
}

<script>
  import { Fancybox } from "@fancyapps/ui";

  document.addEventListener("DOMContentLoaded", () => {
    const lazyImages = document.querySelectorAll("img.lazyload");
    const lazyImageObserver = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const image = entry.target as HTMLElement;
          image.classList.remove("lazyload");
          image.setAttribute("src", image.dataset.src ? image.dataset.src : "");
          lazyImageObserver.unobserve(image);
        }
      });
    });
    lazyImages.forEach((image) => {
      lazyImageObserver.observe(image);
    });
    Fancybox.bind("[data-fancybox]", {
      Thumbs: false,
      Toolbar: {
        display: {
          left: [],
          middle: [],
          right: ["close"],
        },
      },
    });
  });
</script>
