---
import dayjs from "dayjs";
import Image from "@/components/Image.astro";

interface Props {
  post: {
    date: Date;
    title: string;
    cover: string;
    description: string;
    author: string;
    category: string;
  };
  slug: string;
}

const { post, slug } = Astro.props;
---

<div class="flex py-4 justify-between h-40 md:h-48">
  <div class="basis-3/5 shrink-0 h-full flex flex-col justify-between">
    <h3 class="text-xl font-medium">
      <a class="hover:text-link transition-colors" href={`/p/${slug}`}
        >{post.title}</a
      >
    </h3>
    <p
      class="leading-6 md:leading-8 my-4 flex-grow-0 text-sm sm:text-base xl:text-lg line-clamp-2 text-justify"
    >
      {post.description}
    </p>
    <div class="text-secondary text-sm space-x-2 md:space-x-4">
      <span>{post.author}</span>
      <span>/</span>
      <span>{dayjs(post.date).format("YYYY.MM.DD")}</span>
      <span>/</span>
      <span>{post.category}</span>
    </div>
  </div>
  <div class="flex ml-4 items-center">
    <div class="overflow-hidden rounded-sm h-20 md:h-32">
      <a href={`/p/${slug}`}>
        <Image
          src={post.cover}
          alt={post.title}
          width="800"
          height="400"
          className="hover:scale-150 transition-transform"
          withFancyBox={false}
        />
      </a>
    </div>
  </div>
</div>
