---
import { getEntry } from "astro:content";
import { BlogName, IssuePageProps } from "@/config";
import Layout from "@/layouts/Layout.astro";
import IssueList from "@/components/Issue/IssueList.astro";
import PageBanner from "@/components/Banner/PageBanner.astro";
import Pagination from "@/components/Pagination.astro";

interface Props {
  page: {
    data: {
      message: string;
      author: string;
      id: number;
      time: string;
      avatar: string;
      picture?: string[] | undefined;
    }[];
    start: number;
    end: number;
    total: number;
    currentPage: number;
    size: number;
    lastPage: number;
    url: {
      current: string;
      prev: string | undefined;
      next: string | undefined;
    };
  };
}

export async function getStaticPaths({ paginate }: { paginate: Function }) {
  const issuelist = await getEntry("issue", "index");
  const issues = issuelist.data.issues.sort((a, b) => b.id - a.id);
  return paginate(issues, { pageSize: 8 });
}

const { page } = Astro.props;
---

<Layout title={`${BlogName} - ${IssuePageProps.title}`}>
  <main
    class="sm:mt-24 mt-16 sm:min-h-0 min-h-main mx-0 sm:mx-16 lg:mx-auto max-w-4xl shadow-lg rounded-sm bg-primary"
  >
    <PageBanner
      title={IssuePageProps.title}
      description={IssuePageProps.description}
      imgsrc={IssuePageProps.banner}
      select={2}
    />
    <div class="content px-4 sm:px-12 pb-6 w-full">
      <IssueList issues={page.data} />
      <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    </div>
  </main>
</Layout>
