---
import { cn } from "@/lib/utils";
import LazyFancyboxImage from "../LazyImages/LazyFancyboxImage.astro";
import LazyImage from "../LazyImages/LazyImage.astro";

interface Props {
  issue: {
    message: string;
    author: string;
    id: number;
    time: string;
    avatar: string;
    picture?: string[] | undefined;
  };
}

const { issue } = Astro.props;
---

<div class="w-full flex py-4">
  <div class="overflow-hidden rounded-full w-10 h-10 sm:w-12 sm:h-12">
    <LazyImage src={issue.avatar} width="100" height="100" />
  </div>
  <div class="flex flex-col ml-4 pt-2 w-full">
    <div class="flex items-center justify-between text-sm">
      <div class="text-xs sm:text-sm">{issue.time}</div>
      <div class="text-xs">{`# ${issue.id}`}</div>
    </div>
    <p class="text-sm/8 sm:text-base/8 mt-2">{issue.message}</p>
    <div
      class={cn("grid grid-cols-2 mt-2 sm:grid-cols-3 max-w-[450px] gap-2", {
        hidden: !issue.picture,
      })}
    >
      {
        issue.picture?.map((p) => (
          <LazyFancyboxImage width="400" height="400" src={p} />
        ))
      }
    </div>
  </div>
</div>
