---
interface Props {
  title: string;
  header: string;
  description: string;
  banner: string;
  select: number;
}

const { title, select, header, description, banner } = Astro.props;

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header";
import BackTop from "@/components/BackTop";

import "@/styles/global.css";
import Head from "@/components/Head.astro";
import PageBanner from "@/components/PageBanner.astro";
---

<!DOCTYPE html>
<html lang="zh-CN">
  <Head title={title} />
  <body class="text-primary tracking-widest">
    <Header client:load />
    <main
      class="sm:mt-24 mt-16 sm:min-h-0 min-h-main mx-0 sm:mx-16 lg:mx-auto max-w-4xl shadow-lg rounded-sm bg-primary"
    >
      <PageBanner
        title={header}
        description={description}
        imgsrc={banner}
        select={select}
      />
      <div class="content px-4 sm:px-12 pb-6 w-full">
        <slot />
      </div>
    </main>
    <BackTop client:load />
    <Footer />
  </body>
</html>
