---
import BackTop from "@/components/BackTop";
import Footer from "@/components/Footer.astro";
import Head from "@/components/Head.astro";
import Header from "@/components/Header";
import PostBanner from "@/components/PostBanner.astro";
import "@/styles/global.css";
import type { CollectionEntry } from "astro:content";

interface Props {
  title: string;
  blog: CollectionEntry<"blog">;
}

const { title, blog } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
  <Head title={title} />
  <body class="text-primary">
    <Header client:load />
    <main
      class="sm:mt-24 mt-16 sm:min-h-0 min-h-main mx-0 sm:mx-16 lg:mx-auto max-w-4xl shadow-lg rounded-sm bg-primary"
    >
      <PostBanner
        title={blog.data.title}
        date={blog.data.date}
        imgsrc={blog.data.cover}
        category={blog.data.category}
      />
      <div class="markdown px-4 pb-4 sm:px-12">
        <slot />
        <div class="bg-rose-100 px-4 py-2 rounded-md">
          <p class="text-pink">
            {
              `本文著作权归作者『 ${blog.data.author} 』所有，未经作者授权禁止转载。`
            }
          </p>
        </div>
      </div>
    </main>
    <BackTop client:load />
    <Footer />
  </body>
</html>
