---
import Footer from "@/components/Footer.astro";
import Image from "@/components/Image.astro";
import "@/styles/global.css";
import type { CollectionEntry } from "astro:content";
import dayjs from "dayjs";

interface Props {
  title: string;
  blog: CollectionEntry<"blog">;
}

const { title, blog } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;500;600;700&display=swap"
    />
    <meta name="referrer" content="same-origin" />
    <title>{title}</title>
  </head>
  <body class="text-primary">
    <main
      class="sm:mt-24 lg:mx-auto max-w-4xl sm:mx-4 md:mx-8 shadow-lg rounded-sm bg-primary"
    >
      <div class="h-80 relative overflow-hidden">
        <Image
          src={blog.data.cover}
          alt={blog.data.title}
          width="800"
          height="400"
          className="-z-10"
          withFancyBox={false}
        />
        <div
          class="absolute h-48 hidden sm:block left-0 right-0 bottom-0 from-black/[.4] to-transparent bg-gradient-to-t"
        >
        </div>
        <div
          class="absolute hidden sm:block z-20 text-white bottom-6 left-12 right-12"
        >
          <div class="flex justify-between items-center">
            <div>
              <h1 class="text-2xl font-bold mb-4">{blog.data.title}</h1>
              <div class="flex space-x-4 text-sm">
                <span>{blog.data.author}</span>
                <span>/</span>
                <span>{dayjs(blog.data.date).format("YYYY.MM.DD")}</span>
                <span>/</span>
                <span>{blog.data.category}</span>
              </div>
            </div>
            <div class="w-12 h-12 rounded-full overflow-hidden">
              <img
                src="https://article.biliimg.com/bfs/article/d29fe12c860c2b7a54db6483132fb0cf24d6aeb0.png@.webp"
                alt="avatar"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="flex sm:hidden flex-col items-center py-4 mx-4">
        <h1 class="font-bold text-2xl">{blog.data.title}</h1>
        <div class="text-sm space-x-2 text-secondary mt-4">
          <span>{blog.data.author}</span>
          <span>/</span>
          <span>{dayjs(blog.data.date).format("YYYY.MM.DD")}</span>
          <span>/</span>
          <span>{blog.data.category}</span>
        </div>
      </div>
      <div class="markdown px-4 pb-4 sm:px-8 md:px-16">
        <slot />
        <div class="bg-rose-100 px-4 py-2 rounded-md">
          <p class="text-pink">
            {
              `本文著作权归作者『 ${blog.data.author} 』所有，未经作者授权禁止转载。`
            }
          </p>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
