---
import BackTop from "@/components/BackTop";
import Footer from "@/components/Footer";
import Head from "@/components/Head.astro";
import Header from "@/components/Header";
import PostBanner from "@/components/PostBanner";
import type { CollectionEntry } from "astro:content";
import "@/styles/global.css";
import TitleWithUnderline from "@/components/TitleWithUnderline";

interface Props {
  title: string;
  blog: CollectionEntry<"blog">;
}

const { title, blog } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
  <Head title={title} />
  <body class="text-primary">
    <Header client:load />
    <main
      class="sm:mt-24 mt-16 sm:min-h-0 min-h-main mx-0 sm:mx-16 lg:mx-auto max-w-4xl shadow-lg rounded-sm bg-primary"
    >
      <PostBanner
        title={blog.data.title}
        date={blog.data.date}
        imgsrc={blog.data.cover}
        category={blog.data.category}
      />
      <div class="markdown px-4 pb-4 sm:px-12">
        <slot />
        <div class="bg-rose-100 px-4 py-2 rounded-md">
          <p class="text-pink">
            {
              `本文著作权归作者『 ${blog.data.author} 』所有，未经作者授权禁止转载。`
            }
          </p>
        </div>
      </div>
      <div class="px-4 pb-4 sm:px-12 mt-6">
        <TitleWithUnderline title="读者评论" />
        <div id="twikoo"></div>
        <script is:inline>
          twikoo.init({
            envId: "https://twikoo.zengjunyin.com",
            el: "#twikoo",
            lang: "zh-CN",
          });
        </script>
      </div>
    </main>
    <BackTop client:load />
    <Footer />
    <script>
      import Pjax from "pjax";
      document.addEventListener("DOMContentLoaded", () => {
        const pjax = new Pjax({
          elements: "a",
          selectors: ["title", "main"],
        });
      });
      document.addEventListener("pjax:complete", () => {
        twikoo.init({
          envId: "https://twikoo.zengjunyin.com",
          el: "#twikoo",
          lang: "zh-CN",
        });
      });
    </script>
  </body>
</html>
